/* .sidebar {
    width: 250px;
    background-color: #f4f7fa;
    padding: 20px;
  }
  
  .nav {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-item {
    margin-bottom: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
  }
  
  .nav-link:hover {
    background-color: #e5e5e5;
  }
  
  .sub-menu {
    padding-left: 20px;
  }
  
  .menu-arrow {
    float: right;
  }
  .sidebar-adjustments{
    margin-top: 10%;
  }
  .shadow{
    box-shadow: #333;
}

   */
.checkbox {
  opacity: 1 !important;
  border-color: #4b49ac !important;
  height: 80%;
  width: 13%;
  border-width: 2px !important;
  margin-right: 100% !important;
}
.radio-check {
  opacity: 1 !important;
  border-color: #4b49ac !important;
}
input:checked {
  background-color: #4b49ac !important;
}
hr {
  background-color: black;
  border-width: 200%;
}
.shadow {
  box-shadow: 20px;
}
.dflex {
  display: flex;
}
.text_center {
  text-align: start;
}
.text_end {
  text-align: end;
}
.recieve_code {
  width: 45%;
}
.otp_width {
  width: 20%;
}
.Z {
  z-index: 999;
}
.main-page {
  width: 100%;
}

/* the template had inline style width 100%  */
.width-100 {
  width: 100%;
}
